@import "tailwindcss";
@plugin "daisyui";

body {
  padding: 5px;
}

#overlay {
  user-select: none;
}

input[type=number] {
  height: 30px;
  text-align: center;
}

input[type=number]:focus {
  outline: none;
  border-color: rgb(96, 93, 255);
}

input[type=checkbox],
input[type=radio] {
  --border: 2px;
}

input:disabled {
  background-color: hsla(0, 0%, 0%, 0.1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: rgb(99, 99, 99)
}

button {
  font-size: 15px;
}

select {
  outline: none;
}